.collapse-icon {
    &:not(:first-of-type) {
        margin-top: 20px
    }

    .card {
        background: #F8FAFC;
        border-radius: 6px;

        &.collapse-narrow {
            border-radius: 0px;
            background-color: #FFFFFF;

            border-bottom: none;

            .card-header {
                padding: 7px 18px;
                background-color: #F1F5F9;
            }


        }

        .card-header {
            padding: 16px 20px;
        }

        .card-body {
            padding: 0px 20px 16px;

            .collapse-list {
                .list-group-item {
                    border: none;
                    padding: 16px 0px;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #E2E8F0;
                    }

                    .list-item-text {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        color: #334155;
                    }

                    .list-item-button {
                        padding: 8px 19px;

                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
        }

    }


    [aria-expanded='false'] {
        &:after {
            transform: rotate(0);
        }
    }
    [aria-expanded='true'] {
        &:after {
            transform: rotate(-180deg);
        }
    }
}