
.btn {
    &.btn-primary {
        &:hover:not(.disabled) {
            background-color: #006CCA !important;
            box-shadow: 0px 4px 14px rgba(0, 86, 161, 0.38) !important;
        }
    }
    &.btn-secondary {
        &:hover:not(.disabled) {
            background-color: #A88B63 !important;
            box-shadow: 0px 4px 14px rgba(168, 139, 99, 0.38) !important;
        }
    }
    &.btn-success {
        &:hover:not(.disabled) {
            background-color: #34D399 !important;
            box-shadow: 0px 4px 14px rgba(16, 185, 129, 0.38) !important;
        }
    }
    &.btn-danger {
        &:hover:not(.disabled) {
            background-color: #F87171 !important;
            box-shadow: 0px 0px 10px rgba(239, 68, 68, 0.65) !important;
        }
    }
    &.btn-warning {
        &:hover:not(.disabled) {
            background-color: #FBBF24 !important;
            box-shadow: 0px 0px 10px rgba(255, 159, 67, 0.65) !important;
        }
    }
    &.btn-info {
        &:hover:not(.disabled) {
            background-color: #22D3EE !important;
            box-shadow: 0px 0px 10px rgba(6, 182, 212, 0.65) !important;
        }
    }
    &.btn-dark {
        background-color: #334155 !important;
        border-color: #334155 !important;

        &:hover:not(.disabled) {
            background-color: #4B4B4B !important;
            box-shadow: 0px 0px 10px rgba(51, 65, 85, 0.65) !important;
        }
    }
    &.btn-white {
        background-color: #FFFFFF !important;
        border-color: #FFFFFF !important;

        &:hover:not(.disabled) {
            background-color: #FFFFFF !important;
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.65) !important;
        }
    }
    &.btn-gray-light {
        background-color: #cbd0da4d !important;
        border-color: #cbd0da4d !important;
        color: #93a3b8 !important;

        &:hover:not(.disabled) {
            background-color: #cbd0da4d !important;
            box-shadow: 0px 0px 10px rgba(246, 248, 252, 0.65) !important;
        }
    }
}