label {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #64748B;

    margin-bottom: 7px;

    &.inline-label {
        font-size: 14px;
        line-height: 18px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
}

.custom-select {
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E") right 1rem center/10px 10px no-repeat;
}

.input-group-append {
    .b-form-datepicker {
        >.btn {
            padding-block: 0px !important;
            border-color: #d8d6de !important;
        }
    }
}

.custom-control {
    &.custom-checkbox,
    &.custom-radio {
        .custom-control-label {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;

            color: #334155;

            margin-block: auto;
        }
    }
}