.modal-dialog {

    header {
        background-color: #F1F5F9 !important;
        padding: 14px 20px 12px;

        h5 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;

            color: #334155;
        }
    }

    .modal-body {
        padding: 24px 20px !important;
    }
    
    &.modal-v2 {
        header {
            .close {
                box-shadow: none !important;
                border-radius: 0px !important;
                background: inherit !important;
                transform: none !important;

                padding: 0px !important;
                margin: -0.3rem 0rem 0rem auto !important;
            }
        }
    }
}
