.pagination {
    li.page-item {
        .page-link {
            font-weight: 400;
            font-size: 14px;
        }

        &:not(.active) {
            .page-link {
                color: #334155;
                background-color: #EDF3F8;
                border-color: #EDF3F8;
            }
        }
        &.disabled {
            opacity: 0.7;
        }
    }
}