.custom-sidebar {
    .sidebar-header {
        background: #F1F5F9;

        padding: 14px 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar-title {
            font-size: 16px;
            color: #334155;

            margin-bottom: 0px;
        }

        .sidebar-close-btn {
            padding: 0px;

            background-color: transparent !important;
            border: none;

            &:hover,
            &:active {
                background-color: transparent !important;
                box-shadow: none !important;
            }
        }
    }

    .sidebar-content {
        padding: 23px 20px;
    }
}