table.table.b-table {
    thead {
        th {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;

            letter-spacing: 1px;
            color: #334155;

            background-color: #F1F5F9 !important;
            border: none;
        }
    }

    tbody {
        tr {
            td {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #334155;

                border-bottom: 1px solid #E2E8F0;
                border-top: none !important;
            }
        }

        & .b-table-row-selected.table-active {
            td {
                background-color: #E2F7F0;
            }
        }
    }

    &.table-striped {
        tbody {
            tr:nth-of-type(odd) {
                background-color: #F8FAFC;
            }
        }
    }
}