
.nav-vertical {
    .nav {

        .nav-link {
            justify-content: start;

            &.active {
                box-shadow: none;
            }
        }

        &.nav-pills {
            gap: 8px;
            
            .nav-link {
                border-radius: 5px;
                
            }
        }
    }
}

.tabs {
    .nav-tabs {
        margin-bottom: 25px;
        
        .nav-item {
            .nav-link {
                padding-inline: 0px;

                font-weight: 700;
                font-size: 14px;

                color: #94A3B8;

                &.active {
                    color: #0056A1;

                    &::after {
                        background: #0056A1 !important;
                        width: 98%;
                        left: 1%;
                    }
                }
            }

            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
}