//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$font-family-sans-serif: 'Inter', Helvetica, Arial, serif !default;
$font-family-monospace: 'Inter', Helvetica, Arial, serif !default;

$primary: #0056A1;
$secondary: #A88B63;
$success: #10B981;
$danger: #EF4444;
$warning: #FF9F43;
$info: #06B6D4;
$dark: #64748B;
$light: #f5f5f5;

$body-color: #334155;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

h1 {
    font-size: 1.75rem;
    line-height: 2.118rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.816rem;
}

h3 {
    font-size: 1.313rem;
    line-height: 1.588rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.361rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 0.875rem;
    line-height: 1.438rem;
}

.display-1, .display-2, .display-3, .display-4 {
    font-weight: 600;
}

.display-1 {
    font-size: 5.25rem;
    line-height: 6.354rem;
}

.display-2 {
    font-size: 4.813rem;
    line-height: 5.824rem;
}

.display-3 {
    font-size: 3.938rem;
    line-height: 4.765rem;
}

.display-4 {
    font-size: 3.063rem;
    line-height: 3.706rem;
}

.bg-gradient-primary {
    background: linear-gradient(45deg, #0056A1 0%, #006CCA 100%);
}
.bg-gradient-warning {
    background: linear-gradient(41.83deg, #FF922A 2.18%, #FFB976 97.5%);
}

.fs-12px {
    font-size: 12px !important;
}