/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import './variables/variables';
@import './variables/accordion';
@import './variables/buttons';
@import './variables/badges';
@import './variables/forms';
@import './variables/alerts';
@import './variables/tables';
@import './variables/pagination';
@import './variables/modals';
@import './variables/tabs';
@import './variables/sidebar';

@import './custom/wizard';

body {
    background-color: #FFFFFF !important;
}

.loading-logo {
    left: calc(50% - 48px);
}

.loading {
    .effects {
        border-left: 3px solid $primary;
    }
}

.main-menu {
    .navbar-header {
        .navbar-brand {
            margin-top: 0.375rem !important;

            .brand-text {
                font-size: 1px;
            }
        }

        .nav-toggle {
            .modern-nav-toggle {
                margin: 1rem 0.25rem 1.571rem 0;
            }
        }
    }

    &.menu-light {
        .navigation {
            >li {
                >a {
                    border-radius: 5px !important;

                    .menu-title {

                        font-weight: 500 !important;
                        font-size: 0.875rem;
                        line-height: 1.375rem;
                    }

                    svg {
                        top: 0px !important;

                        height: 18px !important;
                        width: 18px !important;

                        margin-right: 0.625rem !important;
                    }

                    .pseudo-badge {
                        color: transparent;
                        width: 9px;
                        height: 9px;
                        padding: 0px;

                        position: absolute;
                        z-index: 1;
                        left: 43px;
                        top: 9px;
                        
                        border: 1px solid white;

                    }
                }

                &.active {
                    >a {
                        box-shadow: none !important;
                        background: $primary
                    }
                }

            }
        }
    }
}

html[dir] .content.app-content {
    padding: 92px 2rem 0;
}

.vertical-layout {
    &.vertical-menu-modern {
        .header-navbar {
            &.floating-nav {
                margin: 0px;
                border-radius: 0px;

                width: calc(100vw - (100vw - 100%) - calc(2rem * 2) - 204px);
            }
        }

        &.menu-collapsed {
            .header-navbar {
                &.floating-nav {
                    width: calc(100vw - (100vw - 100%) - 0.375rem - 74px) !important;
                }
            }
        }
    }
}

footer.footer {

    .footer-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }

    &.footer-light {
        .footer-text {
            color: #64748B;
        }
    }
}

.card {
    border-radius: 6px;
}

.card.card-greetings {
    box-shadow: 0px 4px 24px rgb(0 0 0 / 6%);;

    // min-height: 225px;

    .card-body {
        padding: 20px 30px;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background-image: url('../images/logo/logo_cbas.png');
            background-repeat: no-repeat;
            background-position: 85% 50%;
        }

        .bottom-text {
            color: rgba(255, 255, 255, 0.7);

            span:not(:first-of-type) {
                margin-left: 22px;
            }
        }
    }
}

.b-avatar-group {
    .b-avatar-group-inner {
        .b-avatar {
            box-shadow: 0 0 0 2px #fff, inset 0 0 0 1px rgb(34 41 47 / 7%), 0px 0px 8px rgba(0, 0, 0, 0.14);

            &.plus-more {
                background-color: #80ABD0;

                h6 {
                    font-size: 14px;
                }
            }
        }
    }
}

span.bullet {
    width: 10px;
    height: 10px;

    background: black;
}

.breadcrumbs-top {
    .content-header-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;

        color: #64748B;
    }

    li.breadcrumb-item {
        &:not(.breadcrumb-home) {
            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
            }
        }

        &.active {
            color: #334155;
        }

        &.breadcrumb-home {
            display: flex;
            align-items: center;
            a {
                display: flex;
            }
        }
    }
}

// sementara hide footer
footer.footer {
    display: none;
}

.btn-primary.disabled,.btn-primary:disabled {
    background-color: #eee!important;
    border-color: #ddd!important;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-user .dropdown-menu {
    width: auto!important;
    max-height: 500px;
    overflow-y: auto;
}
.summary {
    font-weight: bold;
    font-size: 16px;
    span {
        font-weight: normal;
        font-size: 16px;
    }
  }