<template>
  <div>
    <form-wizard color="#0056A1" :title="null" :subtitle="null" layout="vertical" finish-button-text="Save"
      back-button-text="Previous" class="wizard-vertical mb-3" @on-complete="formSubmitted">
      <tab-content title="Customer Information" :before-change="validationForm">
        <validation-observer ref="CustomerInformation" tag="form">
          <b-row>
            <b-col cols="12" class="mb-2">
              <h5 class="mb-0">Customer Information</h5>
              <small class="text-muted">Enter Your Customer Information.</small>
            </b-col>

            <b-col md="6">
              <b-form-group label="Reff Number" label-for="reffnumber">
                <validation-provider #default="{ errors }" name="reff number" rules="required">
                  <b-form-input id="reffnumber" placeholder="Entry Reff Number"
                    :state="errors.length > 0 ? false : null" v-model="modelCustomerInformation.reffnumber" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Request Purpose" label-for="requestpurpose">
                <validation-provider #default="{ errors }" name="request purpose" rules="required">
                  <v-select id="requestpurpose" v-model="modelCustomerInformation.requestpurpose"
                    :state="errors.length > 0 ? false : null" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="requestpurposeOptionField"
                    :selectable="option => !option.value.includes('Select Request Purpose')" label="text"
                    placeholder="Select" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Customer Type" label-for="customertype">
                <validation-provider #default="{ errors }" name="customer type" rules="required">
                  <v-select id="customertype" v-model="modelCustomerInformation.customertype"
                    :state="errors.length > 0 ? false : null" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="customertypeOptionField"
                    :selectable="option => !option.value.includes('Select Customer Type')" label="text"
                    placeholder="Select" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Product Type" label-for="producttype">
                <validation-provider #default="{ errors }" name="product type" rules="required">
                  <v-select id="producttype" v-model="modelCustomerInformation.producttype"
                    :state="errors.length > 0 ? false : null" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                    :options="producttypeOptionField"
                    :selectable="option => !option.value.includes('Select Product Type')" label="text"
                    placeholder="Select" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Customer Name" label-for="customername">
                <validation-provider #default="{ errors }" name="customer name" rules="required">
                  <b-form-input id="customername" placeholder="Entry Customer Name"
                    :state="errors.length > 0 ? false : null" v-model="modelCustomerInformation.customername" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Status Applicant" label-for="statusapplicant">
                <validation-provider #default="{ errors }" name="status applicant" rules="required">
                  <b-form-input id="statusapplicant" placeholder="Entry Status Applicant"
                    :state="errors.length > 0 ? false : null" v-model="modelCustomerInformation.statusapplicant" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Gender" label-for="gender">
                <validation-provider #default="{ errors }" name="gender" rules="required">
                  <b-form-radio-group v-model="modelCustomerInformation.gender" :options="genderOptions" class="mt-1"
                    :state="errors.length > 0 ? false : null" value-field="value" text-field="text"
                    disabled-field="disabled" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Pleace of Birth" label-for="pleacebirth">
                <validation-provider #default="{ errors }" name="pleace birth" rules="required">
                  <b-form-input id="pleacebirth" placeholder="Entry Pleace of Birth"
                    :state="errors.length > 0 ? false : null" v-model="modelCustomerInformation.pleacebirth" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Date of Birth" label-for="datebirth">
                <validation-provider #default="{ errors }" name="product type" rules="required">
                  <b-form-datepicker v-model="modelCustomerInformation.datebirth" local="en"
                    :state="errors.length > 0 ? false : null" placeholder="Select Date of Birth" class="mb-1"
                    selected-variant="primary" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="ID Number (KTP)" label-for="idNumber">
                <validation-provider #default="{ errors }" name="id number" rules="required">
                  <b-form-input id="idNumber" placeholder="Entry ID Number" v-model="modelCustomerInformation.idNumber"
                    :state="errors.length > 0 ? false : null" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Tax ID (NPWP)" label-for="npwp">
                <validation-provider #default="{ errors }" name="npwp" rules="required">
                  <b-form-input id="npwp" placeholder="Entry Tax ID (NPWP)" v-model="modelCustomerInformation.npwp"
                    :state="errors.length > 0 ? false : null" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="MoTher Name" label-for="moThername">
                <validation-provider #default="{ errors }" name="mother name" rules="required">
                  <b-form-input id="moThername" placeholder="Entry MoTher Name"
                    :state="errors.length > 0 ? false : null" v-model="modelCustomerInformation.moThername" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="12">
              <b-form-group label="Address" label-for="address">
                <validation-provider #default="{ errors }" name="address" rules="required">
                  <b-form-textarea id="address" placeholder="Entry Address" rows="3"
                    :state="errors.length > 0 ? false : null" v-model="modelCustomerInformation.address" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="City" label-for="city">
                <validation-provider #default="{ errors }" name="city" rules="required">
                  <b-form-input id="city" placeholder="Entry City" v-model="modelCustomerInformation.city"
                    :state="errors.length > 0 ? false : null" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Zipcode" label-for="zipcode">
                <validation-provider #default="{ errors }" name="zipcode" rules="required">
                  <b-form-input id="zipcode" placeholder="Entry Zipcode" v-model="modelCustomerInformation.zipcode"
                    :state="errors.length > 0 ? false : null" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>

            <b-col md="6">
              <b-form-group label="Mobile Phone" label-for="phone">
                <validation-provider #default="{ errors }" name="phone" rules="required">
                  <b-form-input id="phone" placeholder="Entry Mobile Phone" v-model="modelCustomerInformation.phone"
                    :state="errors.length > 0 ? false : null" />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>
            </b-col>
          </b-row>
        </validation-observer>
      </tab-content>

      <tab-content title="Additional Information" :before-change="validationAdditionalForm">
        <validation-observer ref="AdditionalInformation" tag="form">
          <b-row>
            <b-col cols="12" class="mb-2">
              <h5 class="mb-0">Additional Information</h5>
              <small class="text-muted">Enter Your Additional Information.</small>
            </b-col>

            <b-col md="12">
              <b-form-group label="Upload File" label-for="uploadfile">
                <b-form-file id="uploadfile" accept=".xlsx" @change="startFileUpload" />
                <b-progress v-if="fileUploadProgress !== null" :max="max" class="progress-bar-info">
                  <b-progress-bar :value="fileUploadProgress"
                    :label="`${((fileUploadProgress / max) * 100).toFixed(2)}%`" variant="primary" animated />
                </b-progress>
              </b-form-group>
              <b-button @click="downloadTemplate" variant="primary">Download Template</b-button>
            </b-col>
          </b-row>
        </validation-observer>
      </tab-content>

      <template #back>
        <b-button variant="warning"><feather-icon icon="ChevronLeftIcon" /> Previous</b-button>
      </template>

      <template #next>
        <b-button variant="primary">Next <feather-icon icon="ChevronRightIcon" /></b-button>
      </template>

      <template #finish>
        <b-button variant="success"><feather-icon class="mr-50" icon="SaveIcon" /> Save</b-button>
      </template>
    </form-wizard>
  </div>
</template>

<script>
import { FormWizard, TabContent } from 'vue-form-wizard'
import { BRow, BCol, BFormGroup, BFormInput, BFormRadioGroup, BFormDatepicker, BFormTextarea, BProgress, BProgressBar } from 'bootstrap-vue'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import vSelect from 'vue-select'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    FormWizard,
    TabContent,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    vSelect,
    BFormTextarea,
    ToastificationContent,
    BFormRadioGroup,
    BFormDatepicker,
    BProgress,
    BProgressBar,
  },
  data() {
    return {
      modelCustomerInformation: {
        reffnumber: '',
        requestpurpose: '',
        customertype: '',
        producttype: '',
        customername: '',
        statusapplicant: '',
        gender: '',
        pleacebirth: '',
        datebirth: '',
        idNumber: '',
        npwp: '',
        moThername: '',
        address: '',
        city: '',
        zipcode: '',
        phone: '',
      },
      modelAdditionalInformation: {},
      customertypeOptionField: [
        { value: 'Select Customer Type', text: 'Select Customer Type' },
        { value: 'Individual', text: 'Individual' },
        { value: 'Badan Usaha', text: 'Badan Usaha' },
      ],
      producttypeOptionField: [
        { value: 'Select Product Type', text: 'Select Product Type' },
        { value: 'LOS IDX', text: 'LOS IDX' },
        { value: 'Comercial 1', text: 'Comercial 1' },
        { value: 'CC Liabilities', text: 'CC Liabilities' },
        { value: 'CC Loan', text: 'CC Loan' },
        { value: 'CC NTB', text: 'CC NTB' },
        { value: 'CC Payroll', text: 'CC Payroll' },
        { value: 'CC Surrogate', text: 'CC Surrogate' },
      ],
      requestpurposeOptionField: [
        { value: 'Select Request Purpose', text: 'Select Request Purpose' },
        { value: '01-01 Penilaian Calon Debitur', text: '01-01 Penilaian Calon Debitur' },
      ],
      genderOptions: [
        { text: 'Male', value: 'Male', disabled: false },
        { text: 'Female', value: 'Female', disabled: false },
      ],
      max: 50,
      fileUploadProgress: null,
    }
  },
  methods: {
    downloadTemplate() {
      const templateURL = '/template/Template_upload_web.xlsx'; 
      fetch(templateURL).then(response => response.blob()).then(blob => {
        const url = window.URL.createObjectURL(blob);
        const link = document.createElement('a');
        link.href = url;
        link.download = 'Template_upload_web.xlsx'; 
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        window.URL.revokeObjectURL(url);
      }).catch(error => {
        console.error('Error downloading template:', error);
      });
    },

    startFileUpload(event) {
      const file = event.target.files[0];
      if (file) {
        // Simulasi pengunggahan file
        const totalFileSize = file.size;
        let uploadedBytes = 0;

        const updateProgress = () => {
          if (uploadedBytes < totalFileSize) {
            this.fileUploadProgress = (uploadedBytes / totalFileSize) * this.max;
            uploadedBytes += 5120; // Simulasi peningkatan progres setiap 1KB
            setTimeout(updateProgress, 100); // Update progres setiap 100ms (Opsional)
          } else {
            this.fileUploadProgress = this.max; // Pengunggahan selesai, atur progres menjadi 100%
          }
        };

        // Mulai proses pengunggahan
        updateProgress();
      }
    },

    formSubmitted() {
      this.$toast({
        component: ToastificationContent,
        props: {
          title: 'Form Submitted',
          icon: 'CheckIcon',
          variant: 'success',
          text: 'Successfully saved data'
        },
      })
    },

    validationForm() {
      return new Promise((resolve, reject) => {
        this.$refs.CustomerInformation.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
          return
        })
      })
    },

    validationAdditionalForm() {
      return new Promise((resolve, reject) => {
        this.$refs.AdditionalInformation.validate().then(success => {
          if (success) {
            resolve(true)
          } else {
            reject()
          }
          return
        })
      })
    }
  },
}
</script>
