<template>
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center" v-if="false">
      <label class="inline-label">Search</label>

      <b-input-group class="input-group-merge">
        <b-form-input v-model="searchTerm" placeholder="Cari data"
          @keyup.enter="$emit('keyupEnterSearch', searchTerm)" />
        <b-input-group-append is-text>
          <feather-icon class="text-light" icon="SearchIcon" />
        </b-input-group-append>
      </b-input-group>
    </div>

    <b-button v-b-toggle.advance-search-sidebar class="ml-1" variant="info">
      <feather-icon icon="SearchIcon" />
      <span class="d-none d-md-inline">Search</span>
    </b-button>

    <b-button v-if="addButton" class="ml-1" variant="success" @click.prevent="$emit('addButtonAction')">
      <feather-icon icon="PlusIcon" />
      <span class="d-none d-md-inline">Add</span>
    </b-button>

    <!-- SIDEBAR -->
    <b-sidebar id="advance-search-sidebar" class="custom-sidebar" bg-variant="white" right shadow no-header>
      <template #default="{ hide }">
        <div class="sidebar-header">
          <h5 class="sidebar-title">
            Advance Search
          </h5>
          <b-button class="sidebar-close-btn" @click="() => handleCloseSidebar(hide)">
            <feather-icon class="text-body" icon="XIcon" size="20" />
          </b-button>
        </div>
        <div class="sidebar-content">
          <b-row>
            <b-col md="12">
              <b-form-group label="Start Date" label-for="startDate">
                <b-form-datepicker id="startDate" v-model="model.startDate" :locale="locale" today-button reset-button
                  :start-weekday="weekday" :show-decade-nav="showDecadeNav" :hide-header="hideHeader" />
              </b-form-group>
            </b-col>

            <b-col md="12">
              <b-form-group label="End Date" label-for="endDate">
                <b-form-datepicker id="endDate" v-model="model.endDate" :locale="locale" today-button reset-button
                  :start-weekday="weekday" :show-decade-nav="showDecadeNav" :hide-header="hideHeader" />
              </b-form-group>
            </b-col>

            <b-col md="12">
              <b-form-group label="Product" label-for="product">
                <v-select id="product" v-model="model.product" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :options="productoptionfield" label="text"
                  :selectable="option => !option.value.includes('Select Product Type')"
                  placeholder="Select Product Type" />
              </b-form-group>
            </b-col>

            <b-col md="12">
              <b-form-group label="Status" label-for="status">
                <v-select id="status" v-model="model.status" :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                  :selectable="option => !option.value.includes('Select Status')" :options="statusoptionfield"
                  label="text" placeholder="Select Status" />
              </b-form-group>
            </b-col>
          </b-row>
          <div class="d-flex align-items-center">
            <b-button class="mr-75 text-white" block variant="dark" @click="resetAdvanceSearch(hide)">
              <feather-icon icon="RefreshCcwIcon" /> Reset
            </b-button>
            <b-button class="mt-0" block variant="primary" @click="handleAdvanceSearch(hide)">
              <feather-icon class="mr-50" icon="SearchIcon" /> Search
            </b-button>
          </div>
        </div>
      </template>
    </b-sidebar>
    <!-- SIDEBAR -->
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BFormDatepicker, BRow, BCol, BFormGroup, BFormInput, BFormInvalidFeedback } from 'bootstrap-vue'
import { required } from '@validations'
import vSelect from 'vue-select'

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    vSelect,
    BFormInvalidFeedback,
    BFormDatepicker,
  },
  props: {
    addButton: {
      type: Boolean,
    },
  },
  data() {
    return {
      searchTerm: '',
      model: {
        startDate: '',
        endDate: '',
        product: '',
        status: '',
      },
      context: null,
      showDecadeNav: false,
      hideHeader: false,
      locale: 'en-US',
      locales: [
        { value: 'en-US', text: 'English US (en-US)' },
        { value: 'de', text: 'German (de)' },
        { value: 'ar-EG', text: 'Arabic Egyptian (ar-EG)' },
        { value: 'zh', text: 'Chinese (zh)' },
      ],
      weekday: 0,
      weekdays: [
        { value: 0, text: 'Sunday' },
        { value: 1, text: 'Monday' },
        { value: 6, text: 'Saturday' },
      ],
      statusoptionfield: [
        { value: 'Select Status', text: 'Select Status' },
        { value: 'Pending', text: 'Pending' },
        { value: 'Process Searching', text: 'Process Searching' },
        { value: 'Done', text: 'Done' },
      ],
      productoptionfield: [
        { value: 'Select Product Type', text: 'Select Product Type' },
        { value: 'CA - LOS IDX', text: 'CA - LOS IDX' },
        { value: 'CB1 - Comercial 1', text: 'CB1 - Comercial 1' },
        { value: 'CC.LIABILITIES - CC Liabilities', text: 'CC.LIABILITIES - CC Liabilities' },
        { value: 'CC.LOAN - CC LOAN', text: 'CC.LOAN - CC LOAN' },
        { value: 'CC.NTB - CC NTB', text: 'CC.NTB - CC NTB' },
        { value: 'CC.PAYROLL - CC PAYROLL', text: 'CC.PAYROLL - CC PAYROLL' },
        { value: 'CC.SURROGATE - CC SURROGATE', text: 'CC.SURROGATE - CC SURROGATE' },
        { value: 'CH - Manual Digital', text: 'CH - Manual Digital' },
      ],
    }
  },
  methods: {
    handleAdvanceSearch(hide) {
      const params = {
        startDate: this.model.startDate,
        endDate: this.model.endDate,
        product: this.model.product !== null ? this.model.product.value : '',
        status: this.model.status !== null ? this.model.status.value : '',
      }

      this.$emit('handleAdvanceSearch', params)
      this.handleCloseSidebar(hide)
    },

    resetAdvanceSearch(hide) {
      this.model = { startDate: '', endDate: '', product: '', status: '' }
      this.$emit('resetAdvanceSearch', this.model)
    },

    handleCloseSidebar(hide) {
      hide()
    },
  },
}
</script>