<template>
  <b-card>
    <div class="d-flex align-items-center justify-content-between table-header">
      <div class="d-flex align-items-center">
        <label class="inline-label">Show</label>
        <b-form-select v-model="perPage" :options="perPageOptions" @change="handlePerPage" />
      </div>

      <div class="d-flex">
        <b-button variant="danger" @click="resetSearch()" class="ml-1">
          <feather-icon icon="RefreshCcwIcon" />
        </b-button>

        <search :add-button="true" @addButtonAction="$router.push({ name: 'transaksi/form' })"
          @handleAdvanceSearch="handleSearch" @resetAdvanceSearch="handleReset" />
      </div>
    </div>

    <b-table class="border mt-1" :fields="tableField" :items="tableData" show-empty responsive hover :busy="loading"
      :sticky-header="stickyHeader" :no-border-collapse="noCollapse">
      <template #table-busy>
        <div class="text-center text-danger my-2" style="padding:50px 0">
          <b-spinner class="align-middle mr-1" />
          <strong>Loading...</strong>
        </div>
      </template>

      <template #cell(action)="data">
        <b-button-group>
          <b-button class="btn btn-sm p-0 m-0" variant="flat-dark" @click.prevent="handleEdit(data.item)"
            v-b-tooltip.hover :title="data.item.status === '3' ? 'Send' : 'Edit'">
            <feather-icon size="20" icon="SendIcon" v-if="data.item.status === '3'" />
            <feather-icon size="20" icon="EditIcon" v-if="data.item.status !== '3'" />
          </b-button>
        </b-button-group>
      </template>

      <template #cell(no)="data">
        {{ data.index + 1 }}
      </template>

      <template #empty="scope">
        <div class="text-center my-75">
          <b-img :src="ClipboardsSecondary" />
          <div class="text-secondary font-small-3 mt-75">
            Tidak ada data
          </div>
        </div>
      </template>
    </b-table>

    <div class="float-right pt-2">
      <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table" />
    </div>
  </b-card>
</template>

<script>
import { convertToIDR } from '@/@core/utils/utils'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { BRow, BCol, BFormGroup, BFormInput, BFormInvalidFeedback, BFormSelect } from 'bootstrap-vue'
import { required } from '@validations'
import ClipboardsSecondary from '@/assets/images/svg/clipboards-secondary.svg'
import Search from './Search.vue'
import vSelect from 'vue-select'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import Swal from 'sweetalert2'
import moment from 'moment'

export default {
  components: {
    BFormSelect,
    ValidationProvider,
    ValidationObserver,
    BRow,
    required,
    BCol,
    BFormGroup,
    BFormInput,
    BFormInvalidFeedback,
    ToastificationContent,
    Search,
    vSelect,
  },
  data() {
    return {
      stickyHeader: false,
      noCollapse: false,
      ClipboardsSecondary,
      perPage: 10,
      currentPage: 1,
      rows: 0,
      searchVal: '',
      perPageOptions: [
        { value: 10, text: '10' },
        { value: 25, text: '25' },
        { value: 50, text: '50' },
        { value: 100, text: '100' },
      ],
      tableField: [
        { key: 'no', label: 'No', class: 'align-middle text-center', stickyColumn: true, thStyle: { width: "5%" } },
        { key: 'action', label: 'Action', class: 'align-middle text-center', stickyColumn: true, thStyle: { width: "5%" } },
        { key: 'reffnumber', label: 'Reff Number', class: 'align-middle text-center', },
        { key: 'statusaplicant', label: 'Status Aplicant', class: 'align-middle text-center', },
        { key: 'customername', label: 'Customer Name', class: 'align-middle text-center', stickyColumn: true },
        { key: 'gender', label: 'Gender', class: 'align-middle text-center', },
        { key: 'bornestdate', label: 'Born/EST Date', class: 'align-middle text-center', },
        { key: 'nikktp', label: 'NIK/KTP/EST Cert No', class: 'text-uppercase align-middle text-center', },
        { key: 'productid', label: 'Product ID', class: 'text-uppercase align-middle text-center', },
        { key: 'bornestplace', label: 'Born/EST Place', class: 'align-middle text-center', },
        { key: 'taxid', label: 'Tax ID/NPWP', class: 'align-middle text-center', },
        { key: 'searching', label: 'Searching', class: 'align-middle text-center', },
        { key: 'result', label: 'Result', class: 'align-middle text-center', },
        { key: 'match', label: 'Match', class: 'align-middle text-center', },
        { key: 'notmatch', label: 'Not Match', class: 'align-middle text-center', },
        { key: 'batchgen', label: 'Batch Gen', class: 'align-middle text-center', },
        { key: 'idebuploaded', label: 'Ideb Uploaded', class: 'align-middle text-center', },
        { key: 'inputdate', label: 'Input Date', class: 'align-middle text-center', },
        { key: 'inputter', label: 'Inputter', class: 'align-middle text-center', },
        // text-capitalize
      ],
      tableData: [],
      loading: false,
    }
  },
  watch: {
    currentPage(x, y) {
      if (x !== y) {
        this.getListData()
      }
    },
  },

  mounted() {
    this.getListData()
  },
  methods: {
    moment,
    convertToIDR,
    capitalizeFirstLetter(text) {
      if (!text) return '';

      return text
        .toLowerCase()
        .replace(/\b\w/g, match => match.toUpperCase());
    },

    handleSearch(val) {
      this.searchVal = val
      this.getListData()
    },

    handleReset(val) {
      this.searchVal = val
      this.getListData();
    },

    handlePerPage(val) {
      this.perPage = val
      this.getListData()
    },

    handleEdit(item) {
      if (item.status != 3) {
        this.$router.push(`/transaksi/allorder/form/${item.kodeorder}`);
      } else {
        this.$toast({
          component: ToastificationContent, position: 'top-right',
          props: {
            title: 'Notification',
            icon: 'InfoIcon',
            variant: 'info',
            text: `Data atas nama ${item.namapemesan} sudah ditarik oleh ERP`,
          },
        });
      }
    },

    getListData() {
      this.loading = true;
      const params = {
        startDate: this.searchVal.startDate ?? '',
        endDate: this.searchVal.endDate ?? '',
        product: this.searchVal.product,
        status: this.searchVal.status,
        page: this.currentPage,
        perPage: this.perPage,
      };

      this.$http.get('/api/transaksi/list', { params: params }).then(res => {
        this.loading = false;
        this.tableData = res.data.data;
        this.rows = res.data.maxPage * this.perPage;

        if (this.searchVal != '') {
          if (res.data.data.length > 0) {
            this.$toast({
              component: ToastificationContent, position: 'top-right',
              props: {
                title: 'Notification',
                icon: 'CheckIcon',
                variant: 'success',
                text: 'Pencarian data berhasil ditemukan',
              },
            });
          } else {
            this.$toast({
              component: ToastificationContent, position: 'top-right',
              props: {
                title: 'Notification',
                icon: 'BellIcon',
                variant: 'warning',
                text: 'Pencarian data tidak ditemukan',
              },
            });
          }
        }
      }).catch(e => {
        this.loading = false;
        this.$toast({
          component: ToastificationContent, position: 'top-right',
          props: {
            title: 'Notification',
            icon: 'SlashIcon',
            variant: 'danger',
            text: 'Gagal mendapatkan data' + e,
          },
        });
        this.tableData = [];
        this.rows = 0;
      });
    },

    resetSearch() {
      this.searchVal = ''
      this.getListData()
    },
  }
}
</script>