<template>
  <div>
    <div class="mb-1">
      <label for="tags-pills">Branch Assigned</label>
      <b-form-tags no-outer-focus class="mb-2">
        <template v-slot="{ tagVariant }">
          <div class="d-inline-block">
            <b-form-tag v-for="tag in allSelected" @remove="removeTagBranch(tag)" :key="tag.id" :title="tag.name"
              :variant="tagVariant" class="mr-1">{{ tag.name }}</b-form-tag>
          </div>
        </template>
      </b-form-tags>
    </div>

    <div class="d-flex align-items-center justify-content-between table-header mb-1">
      <div class="d-flex align-items-center">
        <label class="inline-label">Show</label>
        <b-form-select @change="handlePerPage" :value="perPage" :options="perPageOptions" />
      </div>
      <div class="d-flex align-items-center">
        <label class="inline-label">Search</label>
        <b-input-group class="input-group-merge">
          <b-form-input v-model="searchTerm" placeholder="Cari branch" @keyup.enter="handleSearch" />
          <b-input-group-append is-text>
            <feather-icon class="text-light" icon="SearchIcon" />
          </b-input-group-append>
        </b-input-group>
      </div>
    </div>

    <b-table class="border" :fields="branchFields" :items="branchData" show-empty responsive>
      <template #cell(id)="data">
        <input v-model="selected" type="checkbox" name="selectedBranch" :value="data.item">
      </template>
      <template #empty="scope">
        <div class="text-center my-75">
          <b-img :src="ClipboardsSecondary" />
          <div class="text-secondary font-small-3 mt-75">
            Tidak ada data
          </div>
        </div>
      </template>
    </b-table>

    <div class="pt-2 d-flex justify-content-end mb-2">
      <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table" size="lg" />
    </div>

    <div class="d-flex justify-content-end">
      <b-button class="mr-1" variant="danger" @click="$bvModal.hide('branch-modal')">Close</b-button>
      <b-button variant="primary" @click="handleSubmit">Submit</b-button>
    </div>
  </div>
</template>
<script>
import ClipboardsSecondary from '@/assets/images/svg/clipboards-secondary.svg'
export default {
  props: {
    selectedBranch: {
      type: Array,
      default: () => []
    },
    branchData: {
      type: Array,
      default: () => []
    },
    perPage: {
      type: Number,
      default: 10
    },
    currentPage: {
      type: Number,
      default: 1
    },
    rows: {
      type: Number,
      default: 0
    },
  },
  data() {
    return {
      ClipboardsSecondary,
      searchTerm: '',
      branchFields: [
        { key: 'id', label: '' },
        { key: 'name', label: 'Name' },
        { key: 'coreCode', label: 'Kode Cabang' },
        { key: 'arr1', label: 'Alamat Cabang' },
        { key: 'arr3', label: 'Provinsi' },
        { key: 'city', label: 'Kota/Kabupaten' },
        { key: 'arr2', label: 'Kecamatan' },
        { key: 'zipcode', label: 'Kode Pos' },
      ],
      selected: [],
      perPageOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 25, text: '25' },
        { value: 50, text: '50' },
      ],
      allSelected: []
    }
  },
  watch: {
    selected(val) {
      this.allSelected.forEach(el => {
        val.forEach(sel => {
          if (sel.id !== el.id) this.allSelected.push(sel)
        })
      });
    },
    branchData(val) {
      this.selected = val.filter(obj => {
        return this.selectedBranch.find(el => el.id === obj.id)
      })

    },
  },
  mounted() {
    if (this.selectedBranch.length) this.allSelected = this.selectedBranch
  },
  methods: {
    handleSearch() {
      this.$emit('searchKeyword', this.searchTerm)
    },
    handlePerPage(val) {
      // console.log(val)
    },
    removeTagBranch(tag) {
      const objWithIdIndex = this.selectedBranch.findIndex((obj) => obj.id === tag.id)
      this.selectedBranch.splice(objWithIdIndex, 1)
    },
    handleSubmit() {
      // console.log('oke')
    }
  }
}
</script>