<template>
  <b-modal
    id="edit-user-modal"
    title="Edit User"
    size="md"
    centered
  >
    <vue-form-json-schema
      v-model="modelData"
      :schema="schema"
      :ui-schema="uiSchema"
      :options="options"
      @validated="onValidated"
    />

    <template #modal-footer>
      <b-button
        variant="primary"
        @click="$bvModal.hide('edit-user-modal')"
      >
        Tutup
      </b-button>
      <b-button
        class="d-flex align-items-center"
        variant="success"
        @click="onSubmit"
      >
        <feather-icon
          class="mr-50"
          icon="SaveIcon"
        />
        Save
      </b-button>
    </template> 
  </b-modal>
</template>
<script>
import uiSchemaMixin from '../schema/FormCreateUserUiSchema.js'
import schema from '../schema/FormCreateUserSchema.json'

export default {
  props: {
    model: {
      type: Object,
      default: () => ({}),
    },
  },
  name: 'EditUserModal',
  mixins: [uiSchemaMixin],
  data() {
    return {
      schema,
      modelData: {},
      options: {
        castToSchemaType: true
      },
      valid: false,
      id: null,
    }
  },
  mounted() {
    this.$root.$on('bv::modal::shown', (bvEvent, modalId) => {
      if(modalId === "edit-user-modal") {
        const { id, ...data } = this.model
        this.id = id
        this.modelData = data
      }
    })

    this.$root.$on('bv::modal::hidden', (bvEvent, modalId) => {
      if(modalId === "edit-user-modal") {
        this.modelData = {}
      }
    })
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();

      this.options = {
        ...this.options,
        showValidationErrors: true
      };

      if (this.valid) {
        this.handleSubmit()
      }
    },
    onValidated(value) {
      this.valid = value;
    },
    handleSubmit() {
      const data = {
        id: this.id,
        userId: this.id,
        ...this.modelData
      }
      this.$http.post('/api/user/edit', data).then(res => {
        this.$bvModal.hide("edit-user-modal")
      }).catch(e => {
        console.log(e)
      })
    },
  }
}
</script>
