<template>
    <b-card class="consumer-task-card" no-body>
        <h2 class="text-primary mb-1">Consumen Task</h2>
        <app-collapse>
            <app-collapse-item :isVisible="true" title="">
                <template v-slot:header>
                    <div class="d-flex align-items-center justify-content-start">
                        <h5 class="text-secondary mb-0">Consumen Teppanku v55</h5>
                        <b-badge class="header-badge d-flex align-items-center px-50" variant="danger">
                            <feather-icon class="mr-25" icon="CheckSquareIcon" size="11" />
                            <span>6 Task</span>
                        </b-badge>
                    </div>
                </template>
                <hr class="my-0" />
                <b-list-group class="collapse-list">
                    <b-list-group-item>
                        <b-avatar size="42" class="bg-success mr-75">
                            <h5 class="text-white mb-0">1</h5>
                        </b-avatar>
                        <span class="list-item-text">Memo Pencairan Pembiayaan</span>
                        <b-button class="float-right list-item-button" variant="primary">Lihat Task</b-button>
                    </b-list-group-item>
                    <b-list-group-item>
                        <b-avatar size="42" class="bg-warning mr-75">
                            <h5 class="text-white mb-0">2</h5>
                        </b-avatar>
                        <span class="list-item-text">Memo Pembukaan Rekening & Pencairan</span>
                        <b-button class="float-right list-item-button" variant="primary">Lihat Task</b-button>
                    </b-list-group-item>
                    <b-list-group-item>
                        <b-avatar size="42" class="bg-info mr-75">
                            <h5 class="text-white mb-0">3</h5>
                        </b-avatar>
                        <span class="list-item-text">Initial Checking + Upload Dokumen</span>
                        <b-button class="float-right list-item-button" variant="primary" to="/task/initial-checking-v1?version=55">Lihat Task</b-button>
                    </b-list-group-item>
                </b-list-group>
            </app-collapse-item>
        </app-collapse>
        <app-collapse>
            <app-collapse-item title="">
                <template v-slot:header>
                    <div class="d-flex align-items-center justify-content-start">
                        <h5 class="text-secondary mb-0">Consumer Teppanku v56</h5>
                        <b-badge class="header-badge d-flex align-items-center px-50" variant="danger">
                            <feather-icon class="mr-25" icon="CheckSquareIcon" size="11" />
                            <span>3 Task</span>
                        </b-badge>
                    </div>
                </template>
                <hr class="my-0" />
                <b-list-group class="collapse-list">
                    <b-list-group-item>
                        <b-avatar size="42" class="bg-success mr-75">
                            <h5 class="text-white mb-0">1</h5>
                        </b-avatar>
                        <span class="list-item-text">Memo Pencairan Pembiayaan</span>
                        <b-button class="float-right list-item-button" variant="primary">Lihat Task</b-button>
                    </b-list-group-item>
                    <b-list-group-item>
                        <b-avatar size="42" class="bg-warning mr-75">
                            <h5 class="text-white mb-0">2</h5>
                        </b-avatar>
                        <span class="list-item-text">Memo Pembukaan Rekening & Pencairan</span>
                        <b-button class="float-right list-item-button" variant="primary">Lihat Task</b-button>
                    </b-list-group-item>
                    <b-list-group-item>
                        <b-avatar size="42" class="bg-info mr-75">
                            <h5 class="text-white mb-0">3</h5>
                        </b-avatar>
                        <span class="list-item-text">Initial Checking + Upload Dokumen</span>
                        <b-button class="float-right list-item-button" variant="primary" to="/task/initial-checking-v2?version=56">Lihat Task</b-button>
                    </b-list-group-item>
                </b-list-group>
            </app-collapse-item>
        </app-collapse>
    </b-card>
</template>

<script>
import { BRow, BCol, BCard, BBadge, BListGroup, BListGroupItem, BAvatar, BButton } from 'bootstrap-vue'

import AppCollapse from '@core/components/app-collapse/AppCollapse.vue'
import AppCollapseItem from '@core/components/app-collapse/AppCollapseItem.vue'

export default {
    components: {
        BRow,
        BCol,
        BCard,
        BBadge,
        BListGroup, 
        BListGroupItem,
        BAvatar,
        BButton,
        // CUSTOM COMPONENT
        AppCollapse,
        AppCollapseItem
    }
}
</script>

<style lang="scss" scoped>
.consumer-task-card {
    padding: 30px;

    h5 {
        font-size: 16px;
    }

    hr {
        border-top: 2px solid #E2E8F0;
    }

    .collapse-default {
        .card {
            background: #F8FAFC;
            border-radius: 6px;
        }
    }

    .header-badge {
        padding: 1px 9px;
        margin-left: 12px;
    }

    .list-group-item {
        background-color: transparent;
    }

}
</style>