<template>
    <b-card class="dashboard-chat-card" no-body>
        <h2 class="text-primary mb-0">Live Chat</h2>
        <div class="d-flex align-items-center dashboard-chat-content">
            <b-avatar-group size="37.58px">
                <b-avatar v-for="(avatar, index) in avatars" :key="avatar.userImg" v-b-tooltip.hover.top="avatar.name"
                    :src="avatar.userImg" class="pull-up" :class="{ 'plus-more' : index === 4}" >
                    <h6 class="text-white mb-0" v-if="index === 4">+11</h6>
                </b-avatar>
            </b-avatar-group>
            <div class="chat-text d-flex align-items-center">
                15 Pegawai sedang Online
                <span class="bullet bg-success"></span>
            </div>
            <b-button class="chat-btn ml-auto" variant="gradient-primary">Mulai Chat</b-button>
        </div>
    </b-card>
</template>

<script>
import { BCard, BButton, BAvatar, BAvatarGroup, VBTooltip } from 'bootstrap-vue'

export default {
    components: {
        BCard,
        BButton,
        BAvatar,
        BAvatarGroup
    },
    directives: {
        'b-tooltip': VBTooltip,
    },
    data() {
        return {
            avatars: [
                { userImg: require('@/assets/images/portrait/small/avatar-s-9.jpg'), name: 'Billy Hopkins' },
                { userImg: require('@/assets/images/portrait/small/avatar-s-6.jpg'), name: 'Amy Carson' },
                { userImg: require('@/assets/images/portrait/small/avatar-s-8.jpg'), name: 'Brandon Miles' },
                { userImg: require('@/assets/images/portrait/small/avatar-s-7.jpg'), name: 'Daisy Weber' },
                { userImg: require('@/assets/images/portrait/small/avatar-s-20.jpg'), name: 'Jenny Looper' },
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.dashboard-chat-card {
    padding: 30px;

    .dashboard-chat-content {
        margin-top: 30px;
    }

    .chat-text {
        margin-left: 24px;

        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        .bullet {
            margin-left: 10px;
        }
    }

    .chat-btn {
        padding: 10px 23px;

        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }


}
</style>