
.custom-wizard {
    $nav-width: 151px;
    $nav-height: 60px;
    $chevron-size: 20px;

    ul.nav-tabs {
        li.nav-item {
            width: $nav-width;
            height: $nav-height;

            &:not(:last-of-type) {
                margin-right: 40px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 20px;
                    top: calc((#{$nav-height} / 2) - (#{$chevron-size / 2}));
                    left: calc(#{$nav-width} + (#{$chevron-size} / 2));
                    width: $chevron-size;
                    height: $chevron-size;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
                    // background-position: right center;
                    background-repeat: no-repeat;
                }
            }

            a.nav-link {
                display: block;

                border-radius: 6px;
                background-color: #F8FAFC;

                padding: 9px 20px;

                p {
                    margin-bottom: 0px;

                    &.ct-index {
                        font-weight: 700;
                        font-size: 16px;
                    }

                    &.ct-title {
                        font-weight: 500;
                        font-size: 12px;
                    }
                }
                &.active {
                    background-color: #0056A1;

                    p {
                        color: white;
                    }

                    &::after {
                        background: none !important;
                    }
                }
            }
        }
    }
}